<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>  
<div class="container">
    <div class="profilebar">
        <!-- <img class="cir_pic" src="{{user.picture.url}}"> -->
        <p class="logusername"><a href='/edit'>{{user.firstname}} {{user.lastname}}</a></p>
        <p style="float: right;"><a href='/logout'>Log out</a></p>
        <p style="float: right; padding-right: 20px;"><a href='/list'>My List</a></p>
    </div>
    <div class="navbar navbar-lg-12">
    <div>
        <h3><a href='/home' class="nav">Home</a></h3>
        <h3><a href='/aboutme' class="nav">About Me</a></h3>
        <h3><a href='/mywork' class="nav">My Work</a></h3>
        <h3><a href='/contact' class="nav">Contact</a></h3>
        </div>
    </div>
    <div class="content content-lg-12">
        <h1>Welcome!</h1>
        <p>Coding Dojo first project</p>
    
        <br></br>
        <div class="row">
            {% for item in items %}
            <div class="item col-lg-4">
                <a href='/item/{{item.id}}' class="item">
                <h3 style="color: black;">{{item.name}}</h3>
                <img class="item_images" src="{{item.image.url}}">
                <h5 style="color: black; padding-left: 240px;">${{item.price}}</h5>
                </a>
            </div>
            {% endfor %}
        </div>
        <br></br>
        <a href='/mywork' style="position: absolute; right: 140px; font-size: 20px;">See More...</a>
        <div class="row" style="margin-top: 200px;">
            <div class="col-lg-5">
                <img class="profile" src="https://vignette.wikia.nocookie.net/sonicpokemon/images/0/01/152_chikorita_by_pklucario.png/revision/latest/scale-to-width-down/340?cb=20130617041510">  
            </div>
            <div class="col-lg-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dignissimos delectus minima reprehenderit
                    molestias illo dolorem et, odio!</p>
                <p>Fuga fugit distinctio delectus iure vitae consequatur excepturi, mollitia, consectetur molestias sapiente
                    rem consequuntur, illum adipisci, sed obcaecati!</p>
                <p>Ex, dolorem qui voluptas reprehenderit provident, ad ipsum iure a consequatur voluptatem incidunt nobis.
                    Vitae reiciendis quae ex.</p>
                <p>Optio consectetur culpa nemo, fugit pariatur veniam voluptate laudantium rerum fuga dolor in maiores ea
                    nisi voluptatibus. Minus?</p>
                    <a href="/media/forums/resumesample.txt" download>See My Resume</a>
            </div> 
        </div>
    </div>
</div>
</body>
</html>