<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container" style="padding-bottom: 100px;">
        <div class="profilebar">
            <p class="logusername"><a href='/edit'>{{user.firstname}} {{user.lastname}}</a></p>
        </div>
        <div class="navbar navbar-sm-12">
        </div>
        <div class="row" style="padding-left: 80px;">
            <div class="col-sm-5" style="display: inline-block;">
                <p></p>
                <h1 style="text-align: center;">Register</h1>
                <form action='/register' method='post'>
                    {% csrf_token %}
                    <p></p>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="fname">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lname">
                        <label>Email address</label>
                        <input type="text" class="form-control"name="email">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                        <label>Confirm PW</label>
                        <input type="password" class="form-control" name="confirm">
                    </div>
                    <button type="submit" class="btn btn-primary";>Register</button>
                </form> 
            </div>
            <div class="col-sm-5" style="display: inline-block; vertical-align: top;">
                <p></p>
                <h1 style="text-align: center;">Log in</h1>
                <form action='/login' method='post'>
                    {% csrf_token %}
                    <p></p>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" name="email" id="email">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <p></p>
            <div>
            {% if messages %} 
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</body>
</html>